#cadastrar-carros {
    display: block;
    margin: 20px auto 60px;
    padding: 10px;
    width: 90%;
    max-width: 800px;
    background-color: var(--background-app);
}

.informacoes-da-loja {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text-input-loja {
    display: flex;
    gap: 20px;
}


/* -------------------------------- */
.informacoes-do-carro {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text-input-carro {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.text-input-carro > div {
   flex: 0 0 40%;
}

.input-label-qtd-donos {
    display: flex;
    align-items: center;
    gap: 10px;
}

.campo-radio {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


/* -------------------------------- */
.informacao-pessoal {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.campo-pessoal {
    display: flex;
    gap: 5px;
}

.campo-pessoal label {
    flex: 0 0 45%;
}

.campo-pessoal textarea {
    flex: 1;
    height: 75px;
    border-radius: 10px;
}

/* -------------------------------- */
.botao-enviar {
    text-align: center;
    padding: 30px 0 20px;
}

.botao-enviar > button {
    padding: 7px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--background-body);
    color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}
