#modificar-informacoes-carros {
    display: none;
    margin: 20px auto 60px;
    padding: 10px;
    width: 90%;
    max-width: 500px;
    height: 1000px;
    background-color: var(--background-app);
}

.modificar-informacoes-carros-titulo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-lupa {
    align-self: center;

    width: 80%;
    display: flex;
    align-items: center;
}

.lupa {
    padding: 0 5px;
    background-color: lightgray;
    height: 23px;

    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.lupa i {
    transform: translateY(3px);
}

.modificar-informacoes-carros-titulo input {
    height: 25px;
    padding: 0 5px;
}

.modificar-informacoes-carros-titulo input:focus {
    border: 2px solid var(--background-body);
    outline: none;
}
/* -------------------------------------------------------- */
.carro-filtrado-para-modificar {
    margin-top: 10px;
    padding: 5px;
    background-color: #78aeff;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
}

.primeiro-paragrafo-modificacao {
    display: flex;
    justify-content: flex-end;
}

.x-para-excluir-carro {
    background-color: rgb(255, 75, 75);
    color: white;

    border: 1px solid black;
}