#filtrar-carros {
    display: none;
    margin: 20px auto 60px;
    padding: 10px;
    width: 90%;
    max-width: 800px;
    background-color: var(--background-app);
}

.filtrar-carros-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filtrar-carros-title-botoes {
    display: flex;
    justify-content: space-between;
}

.filtrar-carros-title-botoes > button{
    padding: 3px 10px;
    border: none;
    background-color: var(--background-body);
    color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.carro-filtrado {
    margin-top: 10px;
    padding: 5px;
    background-color: #78aeff;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}

.carro-filtrado-parametros-iniciais {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.carro-filtrado p {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.primeiro-parametro {
    text-align: center;
}

/* -------------------------------------- */
#filtros {
    overflow: scroll;
    position: fixed;
    top: 30%; left: 5%;

    padding: 10px;
    width: 90%;
    height: 320px;
    background-color: white;
    border-radius: 20px;

    display: none;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}

#filtros button {
    padding: 1px;
    align-self: flex-end;
}

.radio-inline {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.radio-inline input {
    width: 20%;
}

#filtros {
  display: none;
}

#filtros.aberto {
  display: flex;
}
