footer {
    position: fixed;
    bottom: 0; left: 0;
    width: 100%; height: 40px;

    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 153);
}

footer button {
    flex: 1;
    background-color: transparent;
    color: white;
    border: 3px solid #003e7793;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}
