header {
    position: sticky;
    top: 0; left: 0;
    width: 100dvw; height: 150px;
    background-image: url("../images/background-carros-de-interesse.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-conteudo {
    padding: 3px 10px;
    background-color: rgba(43, 42, 42, 0.5);
    color: white;
    border-radius: 10px;
}
